html {
  height: 100%;
}

* {
  margin: 4px;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url('https://bit.ly/2LUDrO4');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lets-play {
  display: flex;
  margin-top: 2em;

}

.table {
  display: flex;
  flex-direction: column;
}

.dealer-hand-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealer-hand-and-score {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin: 2em 0 0 0;
}

.dealer-hand-and-score li {
  padding: 0 2em;
}

.dealer-hand {
  display: flex;
  list-style: none;
  margin: 1em -3em;
}

.dealer-hand li {
  padding: 0 2em;
  height: 10em;
  width: 3em;
}

.player-display {
  display: flex;

}
.first-hand-display {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.player-hand {
  display: flex;
  list-style: none;
  margin: 1em -3em;
}

.player-hand li {
  padding: 0 2em;
  height: 10em;
  width: 3em;
}

.second-hand-display {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.player-hand2 {
  display: flex;
  list-style: none;
  margin: 1em -3em;
}

.player-hand2 li {
  padding: 0 2em;
  height: 10em;
  width: 3em;
}

.player-hand-and-score {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  /* margin: 1em 0; */
}

.player-hand-and-score li {
  padding: 0 2em;
}

#player-hand-and-score2 {
  display: none;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

#player-hand-and-score2 li {
  padding: 0 2em;
}

#declare-winner-banner2 {
  display: none;
}


.buttons {
  display: flex;
}

.buttons button {
  padding: 0 2em;
}

#split {
  display: none;
}

#buttons2 {
  display: none;
}

#buttons2 button {
  padding: 0 2em;
}