html {
  height: 100%;
}

* {
  margin: 15px;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 45em; */
}

.lets-play {
  display: flex;
  margin-top: 2em;

}

.dealer-hand-display {
  display: flex;
}

.dealer-hand-and-score {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 2em 0;
}

.dealer-hand-and-score li {
  padding: 0 2em;
}

.dealer-hand {
  display: flex;
  list-style: none;
  margin: 2em -3em;
}

.dealer-hand li {
  padding: 0 2em
}

.first-hand-display {
  display: flex;
}

.player-hand {
  display: flex;
  list-style: none;
  margin: 1em -3em;
}

.player-hand li {
  padding: 0 2em
}

.second-hand-display {
  display: flex;
}

.player-hand2 {
  display: flex;
  list-style: none;
}

.player-hand2 li {
  padding: 0 2em;
}

.player-hand-and-score {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 1em 0;
}

.player-hand-and-score li {
  padding: 0 2em;
}

#player-hand-and-score2 {
  display: none;
  list-style: none;
  flex-direction: column;
}

#player-hand-and-score2 li {
  padding: 0 2em;
}

#declare-winner-banner2 {
  display: none;
}


.buttons {
  display: flex;
}

.buttons button {
  padding: 0 2em;
}

#split {
  display: none;
}

#buttons2 {
  display: none;
}

#buttons2 button {
  padding: 0 2em;
}